//@import "../../rh-sass/rh-sass";
@import "node_modules/@rhelements/rdc-sass/rdc-sass";

:root {
  --rdc-band-layout--backgroundColor--default: $rh-global--color--white;
}

:host {
  //-- Band padding options
  position: relative;
  padding-top: $band-padding;
  padding-bottom: $band-padding;
  &[padding~="no_top"] {
    padding-top: 0;
  }
  &[padding~="no_bottom"] {
    padding-bottom: 0;
  }
  &[padding~="xs_top"] {
    padding-top: calc($band-padding / 4);
  }
  &[padding~="xs_bottom"] {
    padding-bottom: calc($band-padding / 4);
  }
  &[padding~="sm_top"] {
    padding-top: calc($band-padding / 2);
  }
  &[padding~="sm_bottom"] {
    padding-bottom: calc($band-padding / 2);
  }
  &[padding~="lg_top"] {
    padding-top: calc($band-padding * 2);
  }
  &[padding~="lg_bottom"] {
    padding-bottom: calc($band-padding * 2);
  }
  //-- Background settings
  background: var(--rdc-band-layout--backgroundColor--default); // default color
  // Support background colors
  @include background-colors;
  @include overlay;
  // Support background alignment
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &[background-fixed] {
    background-attachment: fixed;
  }
  // Mix and match alignment
  &[background-align~="right"] {
    background-position-x: right;
  }
  &[background-align~="left"] {
    background-position-x: left;
  }
  &[background-align~="center"] {
    background-position-y: center;
    background-size: contain;
  }
  &[background-align~="top"] {
    background-position-y: top;
    background-size: contain;
  }
  &[background-align~="bottom"] {
    background-position-y: bottom;
    background-size: contain;
  }
  // Predefined alignment settings
  &[background-align="center center"] {
    background-position: center center;
    background-size: contain;
  }
  &[background-align="repeat"] {
    background-position: left top;
    background-repeat: repeat;
    background-size: inherit;
  }
  //-- Print styles
  @media print {
    background-color: $color-white !important;
    background-image: none !important;
    box-shadow: none !important;
    // Reduce padding for print
    padding-top: calc($band-padding / 4);
    padding-bottom: calc($band-padding / 4);
  }
  //-- A11y support
  &[aria-hidden] {
    display: none;
  }
  //-- Container padding
  > * {
    padding-right: $mobile-edge;
    padding-left: $mobile-edge;
    @include breakpoint($breakpoint-sm-min) {
      @include container;
      width: 750px;
      padding-right: 0;
      padding-left: 0;
    }
    @include breakpoint($breakpoint-md-min) {
      width: 970px;
    }
    @include breakpoint($breakpoint-lg-min) {
      width: 1170px;
    }
  }
}

//-- Header styles
::slotted([slot=header]) {
  &[border="bottom"]
    border-bottom: 0;
    > *:not(:last-child) {
      margin-bottom: 0;
    }
    @include breakpoint($breakpoint-sm-min) {
      @include pipe($position: bottom);
      > *:not(:last-child) {
        margin-bottom: $divider-vertical-gutter;
      }
    }
  }
}

//-- Currently no custom styles for these slots
::slotted([slot=body]) {}
::slotted([slot=aside]) {}
::slotted([slot=footer]) {}